{% extends 'base.html' %}
{% block body %}
  <h2>{{person.username}}</h2>
  <p>{{person.username}}가 작성한 게시글</p>
  <ul>
    {% for article in person.article_set.all %}
      <li>{{article.title}}</li>
      <li>{{article.content}}</li>
    {% endfor %}
  </ul>
  <p>{{person.username}}가 작성한 댓글</p>
  <ul>
    {% for comment in person.comment_set.all %}
      <li>{{comment.content}}</li>
    {% empty %}
      <p>댓글을 단 적이 없습니다.</p>
    {% endfor %}
  </ul>
  <p>{{person.username}}가 좋아요 누른 목록</p>
  <ul>
    {% for like in person.like_article.all %}
      <li>{{like.title}}</li>
     {% empty %}
      <p>댓글을 단 적이 없습니다.</p>
    {% endfor %}
  </ul>
  {% if user != person %}
    {% if user in person.followers.all %}
      <a href="{% url 'accounts:follow' person.pk %}">[팔로우 취소]</a>
    {% else %}
      <a href="{% url 'accounts:follow' person.pk %}">[팔로우]</a>
    {% endif %}
  {% endif %}
{% endblock %}