<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body> 
  {% if request.resolver_matct.url_name == 'create' %}
  <h1>글 생성</h1>
  {% else %}
  <h1>글 수정</h1>
  {% endif %}
  <hr>
  <!--action을 비워두면 현재 위치로 요청-->
  <!--차이점 : method를 지정해 줬다. -->
  <!-- a tag : GET -->
  <form action="" method="POST">
    {% csrf_token %}
    {{form}}
    <input type="submit" value="제출">
  </form>
  
</body>
</html>