<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  
  <h1>상세 페이지</h1>
  <hr>
  <h1>{{ musician }}</h1>
  <hr>
  <p>{{ musician.name }}</p>
  <p>{{ musician.age }}</p>
  <a href="{% url 'musicians:update' musician.pk %}">[수정하기]</a>
  <form action="{% url 'musicians:delete' musician.pk %}" method="POST">
    {% csrf_token %}
    <input type="submit" value="삭제하기">
  </form>
  
</body>
</html>